<div class='container'>
  <div class="row">
    <img class="mx-auto mt-2" width="200px" src="https://png2.cleanpng.com/sh/21b41747a776e62605c8fc34bf115aff/L0KzQYm3VMIxN6ZsfZH0aYP2gLBuTf1ib5poReZxZT3qccXvhgJqdpgyiN5qeXnxd37qggJlNZ5mf9tsLYDyebB7k71kaaMyf9N9aHX1ebBuTcVibGo9fKo7MXG4RYSATsg0QGE9SKcDMUW1RIO3Vsk4QGI1T6s3cH7q/kisspng-magic-the-gathering-playing-card-magic-points-car-gathering-5ad98d821a5537.8380805815242069781079.png">
  </div>
  <div class="row">
  <h1 class="mx-auto mt-4">Magic Builder</h1>
  </div>
  
  <form>
    <div class="form-inline mt-4 justify-content-center">
      <input type='text' name='cardname' class="form-control" #cardname placeholder="Enter Card Name">
      <button (click)="getCards(cardname.value)" type="submit" class="btn btn-warning" (click)="showSearchedCards()" (click)="hideSavedCards()">Search</button>
    </div>
  </form>

<div class="d-flex justify-content-between">
  <div class="col-6">
    <div class="float-left .menuButton">
    <button class="btn btn-warning divButton" (click)="show = !show" (click)="hideSaved()">{{show ? 'Hide' : 'Build'}}</button>
    </div>
  </div>
  <div class="col-6
  ">
    <div class="float-right .menuButton">
    <button class="btn btn-warning divButton" id="rightButton" (click)="savedShow = !savedShow" (click)="hideBuild()" id="#saveBtn"  (click)="hideSearchedCards()" (click)="showSavedCards()" (click)="cards=null" (click)="savedCards=null">{{savedShow ? 'Hide' : 'Saved'}}</button>
    </div>
  </div>
</div>
<div>
  <app-deck-build *ngIf="this.show" #deckbuild (chosenColour)="getColour($event)" (chosenColour)="getCards(cardname.value)"
      (chosenCmc)="getCmc($event)" (chosenCmc)="getCards(cardname.value)" (currentShow)="getShow($event)"
      [currentDeck]="deck" [totalCards]="totalCards" (buttonShow)="hideButtons()" [clearedDeck]="deck" (noCards)="clearDeck()"></app-deck-build>

  <app-saved-decks *ngIf="this.savedShow" #savedDecks (selectedDeck)="getSelectedDeck($event)" ></app-saved-decks>
</div>

  <div class="row mt-4 p-4 bg-light" *ngIf="cards" [hidden]="boolSearchedCards == false">
    <div class="col-xl-3 mt-4 card" *ngFor="let card of this.cards.cards" [cards]="cards" [hidden]="card.imageUrl==null">
      <img class="mx-auto mt-3 mb-3" src="{{card.imageUrl}}" width="200px">
      <div>
      <button *ngIf="this.show" [hidden]="buttonShow==false" type="button" class="btn btn-success btn-circle mr-0" (click)="saveCard(card)" (click)="checkDeckSize()" (click)="hideButtons()">Add</button>
      </div>
    </div>
  </div>

  <div id="cards2" class="row bg-light mt-4 p-4" *ngIf="savedCards" [hidden]="boolSavedCards == false">
    <div class="col-xl-3 mt-4 card" *ngFor="let card of this.savedCards" [savedCards]="savedCards" [hidden]="card.imageUrl==null">
      <img class="mx-auto mt-3 mb-3" src="{{card.imageUrl}}" width="200px">
      <div>
      <button *ngIf="this.show" type="button" class="btn btn-success btn-circle mr-0" (click)="saveCard(card)">Add</button>
      </div>
    </div>
  </div>
  