<div class='container'>
  <div class="row">
  <h1 class="mx-auto mt-4">Magic Builder</h1>
  </div>
  <form>
    <div class="form-inline mt-4 justify-content-center">
      <input type='text' name='cardname' class="form-control" #cardname placeholder="Enter Card Name">
      <button (click)="getCards(cardname.value)" type="submit" class="btn btn-primary" (click)="showSearchedCards()" (click)="hideSavedCards()">Search</button>
    </div>
  </form>

<div class="container">
  <div class="float-left">
    <button class="btn btn-primary start-0" (click)="show = !show" (click)="hideSaved()">{{show ? 'Hide' : 'Build A
      Deck'}}</button>
  </div>
  <div class="float-right">
    <button class="btn btn-primary mr-0" (click)="savedShow = !savedShow" (click)="hideBuild()" id="#saveBtn"  (click)="hideSearchedCards()" (click)="showSavedCards()" (click)="cards=null" (click)="savedCards=null">{{savedShow ? 'Hide' : 'View Saved Decks'}}</button>
  </div>
</div>
<div>
  <app-deck-build *ngIf="this.show" #deckbuild (chosenColour)="getColour($event)" (chosenColour)="getCards(cardname.value)"
      (chosenCmc)="getCmc($event)" (chosenCmc)="getCards(cardname.value)" (currentShow)="getShow($event)"
      [currentDeck]="deck" [totalCards]="totalCards" (buttonShow)="hideButtons()"></app-deck-build>

  <app-saved-decks *ngIf="this.savedShow" #savedDecks (selectedDeck)="getSelectedDeck($event)"></app-saved-decks>
</div>

  <div class="row bg-light mt-4 p-4" *ngIf="cards" [hidden]="boolSearchedCards == false">
    <div class="col-xl-3 mt-4" *ngFor="let card of this.cards.cards" [cards]="cards" [hidden]="card.imageUrl==null">
      <img src="{{card.imageUrl}}" width="200px">
      <div>
      <button *ngIf="this.show" [hidden]="buttonShow==false" type="button" class="btn btn-success btn-circle mr-0" (click)="saveCard(card)" (click)="checkDeckSize()" (click)="hideButtons()">Add</button>
      </div>
    </div>
  </div>

  <div class="row bg-light mt-4 p-4" *ngIf="savedCards" [hidden]="boolSavedCards == false">
    <div class="col-xl-3 mt-4" *ngFor="let card of this.savedCards" [savedCards]="savedCards" [hidden]="card.imageUrl==null">
      <img src="{{card.imageUrl}}" width="200px">
      <div>
      <button *ngIf="this.show" type="button" class="btn btn-success btn-circle mr-0" (click)="saveCard(card)">Add</button>
      </div>
    </div>
  </div>
  