<div class='container'>
  <h1>MagicTesting</h1>
  <form>
    <div class="form-group">
      <input type='text' name='cardname' class="form-control" #cardname placeholder="Enter Card Name">
    </div>
    <button (click)="getCards(cardname.value)" type="submit" class="btn btn-primary">Get Card Details</button>
  </form>

  <div class="row bg-light mt-4 p-4" *ngIf="cards">
    <div class="col-sm-4" *ngFor="let card of this.cards.cards" [cards]="cards">
      <p>{{card.name}}</p>
      <img src="{{card.imageUrl}}">
    </div>
  </div>