@media only screen and (max-width: 576px) {
    .divButton {
      width: 100px; 
    }
    .card {
        justify-content: center;
    }
}
@media only screen and (min-width: 576px) {
    .divButton {
      width: 200px; 
    }
    .card {
        justify-content: center;
    }
}

#header {
    font-family: 'Papyrus', fantasy, serif;
    font-weight: 100;
}

#searchBar {
    width:75%;
}
#searchBox {
    /*border: .25em white;
    border-style:double;
    border-radius: 1em;*/
    width: 75%;
    margin-bottom: 2em;
    background-image: linear-gradient(to top, orange, 1%, rgba(255,0,0,0))
    /*background-image: radial-gradient(ellipse at bottom,orange, 1%, rgba(255,0,0,0));*/
}

.cardbox {
    background-image: linear-gradient(white, gray)
}

.white {
    color:white;
}

.btn-circle {
    width: 3em;
    height: 3em;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle-xl {
    width: 4em;
    height: 4em;
    padding: 6px 0px;
    border-radius: 3em;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle-xl a {
    text-decoration: none;
    color:black;
}

h1 {
    color:white;
}

.divButton {
    margin-top: 1em;
    margin-bottom: 1em;
}

#rightButton {
    margin: right 0;
}
