
<div  class="mx-auto bg-light clearfix settingsMenu" id=#buildDiv>
    <div class="row">
        <br>
        <p class="mx-auto">Please customise your deck using the settings below and use the search bar to find cards!</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="#colour">
                <h2>Deck Colour:</h2>

                <form name="#colour" (change)="applyColour($event)">
                    <input type="radio" value="any" name="colour" ngModel checked> Any
                    <input type="radio" value="white" name="colour" ngModel> White
                    <input type="radio" value="black" name="colour" ngModel> Black
                    <input type="radio" value="red" name="colour" ngModel> Red
                    <input type="radio" value="blue" name="colour" ngModel> Blue
                    <input type="radio" value="green" name="colour" ngModel> Green
                </form>
            </div>
        </div>


        <div class="col-md-6">
            <div id=#cmc>
                <h2>Combined Mana Cost:</h2>

                <form name="#cmc" (change)="applyCmc($event)">
                    <input type="radio" value="0" name="cmc" ngModel checked> Any
                    <input type="radio" value="1" name="cmc" ngModel> 1
                    <input type="radio" value="2" name="cmc" ngModel> 2
                    <input type="radio" value="3" name="cmc" ngModel> 3
                    <input type="radio" value="4" name="cmc" ngModel> 4
                    <input type="radio" value="5" name="cmc" ngModel> 5
                    <input type="radio" value="6" name="cmc" ngModel> 6
                </form>
            </div>
        </div>
    </div>

    <br><br><br>
    <div class="row">
        <div class="align-bottom mx-auto">
            <p id="cardNumberText">Number of Cards in Deck = 24/60</p>
            <div class="form-inline mt-4 justify-content-center">
                <input type='text' name="deckName" id='deckName' class="form-control" #deckname placeholder="Enter Deck Name">
                <button type="submit" class="btn btn-success" (click)="uploadDeck()">Save Deck</button>
            </div>
        </div>
    </div>
    <button class="btn btn-danger float-left">New Deck</button>
</div>