@media only screen and (min-width: 576px) {
    #cmc {
        float: right;
    }
}
@media only screen and (max-width: 576px) {
    #cmc {
        margin-top: 2em;
    }
}

.settingsMenu {
    padding: 2em;
    background-image: linear-gradient(white, 90%, rgba(255,0,0,0))
}

#buildDiv {
    background-color: dimgray;
}

