<div class="mx-auto bg-light clearfix settingsMenu rounded">
    <div class="row">
        <br>
        <p class="mx-auto">Please choose a saved deck from the dropdown!</p>
    </div>
    <div class="row">
        <div class="align-bottom mx-auto">
            <div class="form-inline mt-4 justify-content-center">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Please select a deck to view
                    </button>
                    <div id="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <button class="btn btn-danger float-left" (click)="deleteDeck()">Delete Selected Deck</button>
</div>